html {
    background:#008080;
    font-family:'helvetica neue';
    font-size: 20px;
    font-weight: 200;
  }
  h1 {
    margin-top: 2%;
    text-align: center;
  }
  /* Outer-div */
  .site-wrap {
    max-width: 60vh;
    margin: 5% auto;
    background:white;
    /* Expanded height to encompass the floated children */
    overflow: hidden;
  }
  /* Padding for p and h tag*/
  .site-wrap > * {
      padding: 2%;
  }
  .quote {
      margin: 8% 0;
      display: inline-block;
      background: #5C0C0C;
  }
  .quote > .customer {
      width: 50%;
      margin-right: 2%;
      float: right;
  }
  .quote > .text {
      margin-left: 2%;
      width: 40%;
      float: left;
      color: white;
  }
  .clearfix {
      clear: both;
  }
  /* Hidden by setting opacity to 0 */
  .slide-in {
    opacity:0;
    transition:all .5s ease-in-out;
  } 
  /* Elements on left and right are pushed out of view */
  .align-left.slide-in {
    transform:translateX(-30%) scale(0.75);
  }
  .align-right.slide-in {
    transform:translateX(30%) scale(0.95);
  }
  /* When set to active - Elements are shown and pushed back into place */
  .slide-in.active {
    opacity:1;
    transform:translateX(0%) scale(1);
  }